body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(209, 84, 52);
}
h1{
    text-align: center;
    color: rgb(71, 236, 181);
    font-size: 36px;
}

p{
    padding: auto;
    width: auto;
    height: auto;
    display: block;
}

hr{
    height: 6px;
    background-color: black;
    border: none;
}